body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.page-header {
    color: #ffffff;
    background-color: #8b6319;
    padding: 20px;
    text-align: center;
}

.page-header__top {
    text-align: center;
    display: inline-block;
}

.page-header__logo {
    display: table-cell;
    vertical-align: middle;
}

.page-header__menu_block {
    display: table-cell;
    vertical-align: middle;
}

.page-header__menu {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: inline-block;
}

.menu__item a {
    color: #ffffff;
   /* padding: 20px;*//* Этого нельзя делать, т.к. приводит к артефактной подсветке ссылок*/
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item a:hover {
    color: rgb(255, 253, 123);
    text-decoration: underline;
}
/**/

.carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.carousel__item {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel__header {
    font-size: 400%;
}

/* *******************************************/

.new-products{
    color: #000000;
    background-color:  #ffffff;
    padding: 20px;
    text-align: center;
}
.product-list {
    text-align: center;
    display: inline-block;
}
.product__item{
position: relative;
text-align: left;
display: inline-block;
vertical-align: top;
padding-left: 50px;
padding-bottom: 25px;
width: 400px;
}

.product__image{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 5px;

}
.characteristics_block{
    position: absolute;
    top: 20px;
    left:250px;   
    text-align: left;
    vertical-align: top;
    padding: 5px;
    
    }
.product__characteristics
{}
.product__ingredients
{}
.product__title       
{}
.product__description
{}
.product__actions
{}
.product__price
{}