body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.page-header {
    color: #ffffff;
    background-color: #8b6319;
    padding: 2.5%;
    text-align: center;
}

.page-header__top {
    text-align: center;
    display: inline-block;
}

.page-header__logo {
    display: table-cell;
    vertical-align: middle;
}

.page-header__menu_block {
    display: table-cell;
    vertical-align: middle;
}

.page-header__menu {
    display: inline-block;
    vertical-align: middle;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: inline-block;
}

.menu__item a {
    color: #ffffff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item a:hover {
    
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-right: 9px;
    border-right: 1px solid rgb(255, 255, 255);
}
/**/

.carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.carousel__item {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel__header {
    font-size: 400%;
}

/* *******************************************/
.block_title{
    margin-left: 10%;
    margin-bottom: 2.5%;
    text-align: left;
    text-transform: uppercase;
   
}
/* *******************************************/

.new-products{
    color: #000000;
    background-color:  #ffffff;
    padding: 20px;
    text-align: center;
}

.product-list {
    text-align: center;
    display: inline-block;
}
.product__item{
position: relative;
text-align: left;
display: inline-block;
vertical-align: top;
padding-left: 50px;
padding-bottom: 25px;
width: 400px;
}

.product__image{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 5px;

}
.characteristics_block{
    position: absolute;
    top: 20px;
    left:250px;   
    text-align: left;
    vertical-align: top;
    padding: 5px;
    
    }
.product__characteristics
{}
.product__ingredients
{}
.product__title       
{
    text-transform: uppercase;
}
.product__description
{}
.product__actions
{}
.product__price
{}
/* *******************************************/
.advantages{
    color: #000000;
    background-color:  rgb(255, 200, 120);
    padding: 20px;
    text-align: center;
}
.advantages_list {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.advantages_item{
text-align: left;
display: inline-block;
vertical-align: top;
padding: 20px;
width: 300px;
}
.advantages_item_logo {
    display: inline-block;
    vertical-align: middle;
}
/* *******************************************/
.history{
    color: #000000;
    background-color:  rgb(255, 255, 255);
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1.25%;
    padding-top: 1.25%;
}
.history_item{
    width: 80%;
    margin-right: auto;
    margin-left:auto;
}
.history_item_left{
    text-align: left;
    vertical-align: top;
    display: table-cell;
    width: 60%;
    padding-left: 2.5%;    
    padding-right: 2.5%;
    padding-bottom: 1.25%;    
    line-height: 1.5;
   
}
.history_item_right{
    text-align: center;
    vertical-align: top;
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}
/* *******************************************/
.press{
    color: #000000;
    background-color:  rgb(237, 229, 216);
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1.25%;
    padding-top: 1.25%;
}
.press_item{
    width: 80%;
    margin-right: auto;
    margin-left:auto;
    padding-left: 2.5%;
}

.btn  {
    color: rgb(128, 128, 128);
    background-color:  rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.btn:hover {
    background-color:  rgb(255, 200, 120);
}